.navbar {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
        display: flex;
        gap: 32px;
        align-items: center;
        @include mobile {
            display: none;
        }
        &--list {
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            font-family: $main-family;
        }
    }
    &__left {
        display: flex;
        gap: 58px;
        align-items: center;
        @include mobile {
            gap: 200px;
        }
        &--img {
            display: none;
            @include mobile {
                display: block;
            }
        }
    }
    @include mobile {
        .but1 {
            display: none;
        }
    }
    .list__link {
        text-decoration: none;
        color: #939CAA;
    }
}

.hero {
    h1 {
        padding-top: 153px;
        max-width: 500px;
        width: 100%;
        font-family: $main-family;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: $color;
        @include tablet {
            text-align: center;
            margin-left: 100px;
        }
        @include mobile {
            margin-left: 100px;
            width: 340px;
        }
    }
    position: relative;
    &__text {
        position: absolute;
        margin-top: 80px;
        left: -165px;
        display: flex;
        align-items: flex-start;
        gap: 40px;
        @include tablet {
            text-align: center;
            position: unset;
            justify-content: space-around;
            gap: unset;
            .hero__text--img1,
            .hero__text--img2 {
                display: none;
            }
        }
    }
    &--p {
        position: relative;
        top: -45px;
        width: 405px;
        height: 100px;
        font-family: $sub-family;
        color: $color;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        @include tablet {
            text-align: center;
            width: 525px;
        }
        @include mobile {
            width: 289px;
        }
    }
}

.background {
    margin-top: 35px;
    height: 100vh;
    background-image: url(../../images/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include tablet {
        background-image: url(../../images/tablet-main.png);
        height: 120vh;
    }
    @include mobile {
        background-image: url(../../images/mobile-main.png);
        height: 130vh;
    }
    &__img {
        position: absolute;
        bottom: -210px;
        display: none;
        @include tablet {
            display: block;
        }
        @include mobile {
            display: none;
        }
    }
    &__img1 {
        position: absolute;
        bottom: -210px;
        display: none;
        @include mobile {
            display: block;
        }
    }
}

.button1 {
    font-family: $main-family;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: $color;
    background: #FCB72B;
    border: none;
    padding: 14px 39px;
    border-radius: 0px;
}